:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color--border: #ccc;
  --border--radius: 30px;
}
*, *::after, *::before{
    box-sizing: border-box;
}

/* typography */
html{
    font-size: 62.5%;
}

body{
    font-family: inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;

}

h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
font-size: 3rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 24px;
    }
}
/* links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);
    font-weight: bold;
    font-size: 2rem;
    text-transform:uppercase
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
     font-size: 1.5rem;
    }
}

/*badges*/

.badge{
    border-radius: 20px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary{
background-color: var(--color-primary);
}

.badge--secondary{
background-color: var(--color-secondary);
}

.badge--small{
font-size: 1.6rem;
}

@media screen and (min-width: 1024px){
    .badge{
     font-size: 1.5rem;
    }
    .badge--small{
     font-size: 1.2rem;
    }
  }

/* lists*/

.list{
    list-style: none;
    padding-left: 0; /* cancelling out the default left padding that is given to lists*/
    color: var(--color-headings);
}

.list--tick{
    list-style-image: url(/images/tick.svg);
    padding-left: 30px;
}

.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
      padding-left: 0;
    }
  }
  
  /*icons*/
  .icon{
   width:40PX;
   height: 40px;
  } 

  .icon--primary{
   fill: var(--color-primary);
  }

  .icon-container{
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  }

  /* buttons */
  .btn{
      border-radius: 30px;
      padding: 1.5rem 2.7rem;
      font-weight: 600;
      font-size: 1.7rem;
      white-space: nowrap;
      cursor: pointer;
      text-transform: uppercase;
      border: 0;
      margin: 1rem 0;
  }

  .btn--primary{
  color: white;
  background-color: var(--color-primary);
  }
  .btn--primary:hover{
   background-color: #4694f8;
  }

  .btn--secondary{
    color: white;
    background-color: var(--color-secondary);
  }
  .btn--secondary:hover{
      background-color: #7ae7fa;
  }

  .btn--accent{
    color: white;
    background-color: var(--color-accent);
  }
  .btn--accent:hover{
      background-color: #ff663f;
  }
  
  .btn--outline{
      border: 2px solid var(--color-headings);
      color:var(--color-headings)
  }
  .btn--outline:hover{
      background-color: var(--color-headings);
      color:white;
  }

  .btn--block{
      width: 100%;
      display: inline-block;
      text-align: center;
  }

  @media screen and (min-width: 1024px) {
    .btn {
      font-size: 1.5rem;
    }
  }
  
/*inputs*/

  .input{
      border-radius: var(--border--radius);
      font-size: 2rem;
      color: var(--color--border);
      padding: 1.5rem 3.5rem;
      outline: 0;
      border: 2px solid #cdcbd7;
  }

  ::placeholder{
        color: #cdcbd7;
  }

  @media screen and (min-width: 1024px) {
    .input {
      font-size: 1.5rem;
    }
  }

  .input--group{
      border: 1px solid var(--color--border);
      border-radius: var( --border--radius);
      display: flex;
  }

  .input--group .input{
      border: 0;
      flex-grow: 1; 
      padding: 1.5rem 1rem;
    
  }

  .input--group .btn{
      margin: 4px;
  }

  @media screen and (min-width: 1024px) {
    .input {
      font-size: 1.5rem;
    }
  }
  /*cards*/

  .card{
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
  }

  .card__header, .card__body{
    padding: 2rem 3rem;
  }

  .card--primary .card__header{
      color: white;
      background-color: var(--color-primary);
  }

  .card--secondary .card__header{
      color:white;
      background-color: var(--color-secondary);
  }

  /*plans*/

  .plan__name{
   color:white;
   font-size: 2.4rem;
   font-weight: 500;
   margin: 0;
  }

  .plan__price{
   font-size: 6rem;
  }

  .plan__billing__cycle{
   font-size: 2.4rem;
   font-weight: 300;
   margin-right: 1rem;
   opacity: 0.8;
}
  .plan__description{
   display: block; 
   letter-spacing: 1px;
   font-size: 2rem;
   font-weight: 300;
  }

  .card__header .badge--secondary{
      background-color: #02cdf1;
  }

  .plan .list__item {
    margin-bottom: 2rem;
  }

  .plan--popular .card__header::before{
      content: url(/images/popular.svg);
      width: 40px;
      display: inline-block;
      position: absolute;
      top: -6px;
      right: 5%;
  }
  .plan--popular .card__header{
      position: relative;
  }


   @media screen and (min-width: 1024px) {
    .plan__name {
      font-size: 1.4rem;
    }
  
    .plan__price {
      font-size: 5rem;
    }
  
    .plan__billing-cycle {
      font-size: 1.6rem;
    }
  
    .plan__description {
      font-size: 1.7rem;
    }
  }
  
  
