<section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, et.</p>
    </header>

     <article class="grid grid--1x2 feature">
    <div class="feauture_content">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
    </svg>
    <h3 class="feature_heading">Super Easy to Use</h3>
    <p>Lorepisicing elit. Optio at expedita culpa consequuntur et ipsum, quibusdam distinctio atque molestiae reiciendis alias ab vel laboriosam. Sed libero perferendis et corporis unde!</p>
    <a href="#" class="link-arrow">learn more</a>
    </div>
    <img src="/images/easy.jpg" class="feature__image" alt="">
      </article> 

      <article class="grid grid--1x2 feature">
        <img src="/images/fast.jpg" class="feature__image" alt="">
      <div class="feauture_content">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
      </svg>
      <h3 class="feature_heading">Simply Fast Websites</h3>
      <p>Lorepisicing elit. Optio at expedita culpa consequuntur et ipsum, quibusdam distinctio atque molestiae reiciendis alias ab vel laboriosam. Sed libero perferendis et corporis unde!</p>
      <a href="#" class="link-arrow">learn more</a>
      </div>
       </article>

        <article class="grid grid--1x2 feature">
        <div class="feature_content">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#line"></use>
        </svg>
        <h3 class="feature_heading">Wordpress Made Easy</h3>
        <p>Lorepisicing elit. Optio at expedita culpa consequuntur et ipsum, quibusdam distinctio atque molestiae reiciendis alias ab vel laboriosam. Sed libero perferendis et corporis unde!</p>
        <a href="#" class="link-arrow">learn more</a>
        </div>
        <img src="/images/wordpress.jpg" class="feature__image" alt="">
        </article>

        <article class="grid grid--1x2 feature">
          <img src="/images/support.jpg" class="feature__image" alt="">
          <div class="feature_content">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
          </svg>
          <h3 class="feature_heading">24/7 Support</h3>
          <p>Lorepisicing elit. Optio at expedita culpa consequuntur et ipsum, quibusdam distinctio atque molestiae reiciendis alias ab vel laboriosam. Sed libero perferendis et corporis unde!</p>
          <a href="#" class="link-arrow">learn more</a>
          </div>
          
        </article> 
  </section>