<section class="block block-showcase block--dark block--skewed--right">
    <header>
      <h2 class="block__header">User Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <img class="block-showcase__img" src="/images/ipad.webp" alt="">
      <ul class="list">
        <li><div class="media">
          <div class="media__image">
               <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#line"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptates inventore reprehenderit fugiat dolorum amet distinctio modi excepturi ipsam magni.</p>
          </div>
        </div>
        </li>
        <li><div class="media">
          <div class="media__image">
               <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#line"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptates inventore reprehenderit fugiat dolorum amet distinctio modi excepturi ipsam magni.</p>
          </div>
        </div></li>
        <li><div class="media">
          <div class="media__image">
               <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#line"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptates inventore reprehenderit fugiat dolorum amet distinctio modi excepturi ipsam magni.</p>
          </div>
        </div></li>
      </ul>

      </div>
      
    </div>
  </section>